[submodule ".local/src/st"]
	path = .local/src/st
	url = git@github.com:perfectime94/st.git
[submodule ".local/src/dwm"]
	path = .local/src/dwm
	url = git@github.com:perfectime94/dwm.git
[submodule ".local/src/dmenu"]
	path = .local/src/dmenu
	url = git@github.com:perfectime94/dmenu.git
[submodule ".local/src/tabbed"]
	path = .local/src/tabbed
	url = git@github.com:perfectime94/tabbed.git
[submodule ".local/src/dwmblocks"]
	path = .local/src/dwmblocks
	url = git@github.com:perfectime94/dwmblocks.git
[submodule ".shells/zsh/oh-my-zsh"]
	path = .shells/zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
