Descargas/*
Documentos/*
IdeaProjects/*
.gnupg/*
.thunderbird/*
.mozilla/*
.viminfo
.viminfo.tmp
.vscode/*
.Xauthority
.android/
.bash_logout
.bash_profile
.bashrc
.cache/
.config/Code/
.config/JetBrains/
.config/Microsoft/
.config/QtProject.conf
.config/autostart/
.config/ccache/
.config/dconf/
.config/gtk-3.0/
.config/mimeapps.list
.config/teams/
.dbus/
.dwm.log
.gradle/
.java/
.lesshst
.local/lib/
.local/share/JetBrains/
.local/share/TelegramDesktop/
.local/share/applications/
.local/share/mime/
.local/share/recently-used.xbel
.local/share/xorg/
.local/share/yadm/repo.git/
.local/src/patches/dwmblocks/01-dwmblocks.diff
.pki/
.wget-hsts
.zcompdump
.zcompdump-gentoo-desktop-5.8
.zcompdump-localhost-5.8
.zsh_history
## Node
.npm
.v8flags*
## Maven
.m2
.mysql_history
.zcompdump*
.config/Popcorn-Time
.config/google-chrome
.config/discord
.local/share/Trash
