.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.config/Code/
.config/dconf/user
.config/lutris
.config/menus/applications-merged/
.dbus
.dwm.log
dwm.log
Games
.gnupg
.lesshst
.local/share/applications
.local/share/desktop-directories
.local/share/icons
.local/share/lutris
.local/share/mime
.local/share/recently-used.xbel
.local/share/xorg
.local/share/yadm
.mozilla/
.pki/
.repoconfig
.repo_.gitconfig.json
.viminfo
.vscode/
.Xauthority
.zcompdump-gentoo-desktop-5.8
.zsh_history
