.Xauthority
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.cargo/
.config/JetBrains
.config/google-chrome/
.config/pulse/
.dbus/
.gnupg
.gradle
.hyprland/
.java
.jdks
.local/share/TelegramDesktop
.local/share/applications
.local/share/fish
.local/share/gstreamer-1.0
.local/share/ironbar
.local/share/nvim
.local/share/recently-used.xbel
.local/share/xorg
.local/share/yadm/repo.git
.local/state
.m2
.npm/
.pki/
.ssh
.turso/
.wget-hsts
.xinitrc
